# ETH test and mainnet 

ANCHOR_ETH_ENABLED=true
ANCHOR_ETH_ENDPOINT=https://rinkeby.infura.io/v3/ba25a62205f24e5bb74d4f9738910a83
ANCHOR_ETH_PRIVATE_KEY=roobar
ANCHOR_ETH_GAS_PRICE=0
ANCHOR_ETH_TXN_URI_PATTERN=https://rinkeby.etherscan.io/tx/0x%s

ANCHOR_ETH_MAINNET_ENABLED=true
ANCHOR_ETH_MAINNET_GAS_PRICE=0
ANCHOR_ETH_MAINNET_ENDPOINT=https://mainnet.infura.io/v3/bb4fefecb7964761aa5462b092d54c00
ANCHOR_ETH_MAINNET_PRIVATE_KEY=foobar
ANCHOR_ETH_MAINNET_TXN_URI_PATTERN=https://etherscan.io/tx/0x%s


# Go TestNet
ANCHOR_ETH_GOCHAIN_ENABLED=true
ANCHOR_ETH_GOCHAIN_ENDPOINT=https://testnet-rpc.gochain.io
ANCHOR_ETH_GOCHAIN_PRIVATE_KEY=foobar
ANCHOR_ETH_GOCHAIN_GAS_PRICE=0
ANCHOR_ETH_GOCHAIN_TXN_URI_PATTERN=https://testnet-explorer.gochain.io/tx/0x%s

# GoChain MainNet
ANCHOR_ETH_GOCHAIN_MAINNET_ENABLED=true
ANCHOR_ETH_GOCHAIN_MAINNET_ENDPOINT=https://rpc.gochain.io
ANCHOR_ETH_GOCHAIN_MAINNET_PRIVATE_KEY=foobar
ANCHOR_ETH_GOCHAIN_MAINNET_GAS_PRICE=0
ANCHOR_ETH_GOCHAIN_MAINNET_TXN_URI_PATTERN=https://explorer.gochain.io/tx/0x%s


#elastos
ANCHOR_ETH_ELASTOS_ENDPOINT=https://rpc.elaeth.io
ANCHOR_ETH_ELASTOS_PRIVATE_KEY=foobar
ANCHOR_ETH_ELASTOS_ENABLED=true

#Hedera 

ANCHOR_HEDERA_MAINNET_ACCOUNT_ID=0.0.44034
ANCHOR_HEDERA_ACCOUNT_ID=0.0.32921
ANCHOR_HEDERA_MAINNET_TOPIC_ID=0.0.45242
ANCHOR_HEDERA_TOPIC_ID=0.0.32923
ANCHOR_HEDERA_MAINNET_PRIVATE_KEY=foobar
ANCHOR_HEDERA_MAINNET_ENABLED=true 

ANCHOR_HEDERA_MAINNET_TXN_URI_PATTERN=https://app.dragonglass.me/hedera/search?q=%s
ANCHOR_HEDERA_TXN_URI_PATTERN=https://testnet.dragonglass.me/hedera/search?q=%s
ANCHOR_HEDERA_API_KEY=foobar
ANCHOR_HEDERA_MAINNET_API_KEY=foobar



